.cover {
  padding: 92px 48px;
  display: grid;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 92px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 90px 0;
  }
}

@media screen and (max-width: 611px) {
  .cover {
    padding: 72px 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding: 66px 0 64px;
  }
}
